<div class="footer-div footer-text" wmAnimate="jackInTheBox" speed="normal">
  <h1 class="heading contact-title">{{contactInfo.title}}</h1>
  <p class="subTitle contact-subtitle">{{contactInfo.subtitle}}</p>
  <a class="contact-detail" href="{{'tel:'+ contactInfo.number}}">{{contactInfo.number}}</a>
  <a class="contact-detail-email" href="{{'mailto:' + contactInfo.email_address}}">
    {{contactInfo.email_address}}</a>
  <br><br>
  <app-social-media></app-social-media>
  <br>
  <p>	&copy; 2023, Built by Judah Irani</p>
</div>
